# Состояние онкологической помощи в России в 2011-2021 годах

[Дашборд](https://datalens.yandex/q3zkxrnhx97ef)

## Предобработка данных

In [1]:
# Импортируем необходимые библиотеки
import pandas as pd
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.max_colwidth = None
import warnings
warnings.filterwarnings("ignore")
import glob

In [2]:
# Получаем список файлов
files = glob.glob('...*.xlsx')
listfiles = [x.split('/')[6] for x in files]

In [3]:
# Получаем список номеров таблиц
number = [x.split('0', 1)[1] for x in [x.split('_')[2] for x in listfiles]]
number = list(map(int, number))
number

[10, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 55, 56]

In [4]:
# Читаем таблицы и присваиваем им имена по шаблону "df_№таблицы", выводим первые 5 строк
for n in range(len(number)):   
    exec(f"df_{number[n]} = pd.read_excel(files[n])")
    exec(f"display(df_{number[n]}.head())")

,Таблица 10,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,"Удельный вес больных со злокачественными новообразованиями, выявленных активно, от числа больных с впервые в жизни установленным диагнозом злокачественного новообразования в России в 2011-2021 гг., %",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Локализация, нозологическая форма",Код МКБ 10,Годы,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2011,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
3,Все злокач. новообразования,С00-96,14.9,15.6,17.3,18.7,21.0,22.4,25.8,27.3,27.5,24.4,24.1
4,Губа,С00,26.3,25.4,31.2,28.7,28.9,33.6,40.1,42.1,41.5,38.1,35.4

,Таблица 5,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Распространенность злокачественных новообразований в России в 2011-2021 гг.\n(численность контингента больных на 100 тыс. населения),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Локализация, нозологическая форма",Код МКБ 10,Годы,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2011,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021*
3,Все злокачествен. новообразования,С00-96,2029,2091.9,2159.4,2252.4,2325.2,2399.1,2472.4,2562.3,2676.6,2712.9,2690.5
4,Губа,С00,41.9,40.2,37.7,36.8,34.9,32.9,30.5,29.1,27.5,26.1,22.5

,Таблица 6,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,"Доля больных, состоявших на учете в онкологических учреждениях России 5 лет и более\nс момента установления диагноза злокачественного новообразования, от числа состоявших на учете на конец отчетного года в 2011-2021 гг., %",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Локализация, нозологическая форма",Код МКБ 10,Годы,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2011,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
3,Все злокачествен. новообразования,С00-96,51.3,51.1,51.7,52.4,52.9,53.3,53.9,54.5,55.3,56.6,57.4
4,Губа,С00,75.1,74.7,74.9,75.1,75.6,76.1,76.3,76.3,76.8,74.4,75.9

,Таблица 7,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,"Доля больных, состоявших на учете в онкологических учреждениях России 5 лет и более\nс момента становления диагноза злокачественного новообразования, от числа состоявших на учете на конец отчетного года 5 лет назад в 2011-2021 гг., %",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Локализация, нозологическая форма",Код МКБ 10,Годы,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2011,2012.0,2013.0,2014*,2015*,2016*,2017*,2018*,2019.0,2020.0,2021.0
3,Все злокачественные новообразования (за исключением кожи кроме меланомы),С00-96,64.7,64.5,65.5,66.7,67.1,67.4,68,68.8,69.9,69.6,67.5
4,Губа,С00,61.1,61.7,60.4,60.6,60,59.8,58,58.7,57.8,55.6,51.8

,Таблица 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Индекс накопления контингента больных со злокачественными новообразованиями различных нозологических групп в России в 2011-2021 гг.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Локализация, нозологическая форма",Код МКБ 10,Годы,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2011,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
3,Все злокачествен. новообразования,С00-96,6,6.2,6.4,6.5,6.5,6.6,6.7,6.9,7.1,8.4,8.0
4,Губа,С00,21.7,22.0,21.9,22.0,21.6,21.8,21.6,21.1,21.3,24.0,19.7

,Таблица 9,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,"Удельный вес больных с диагнозом, подтвержденным морфологически, от числа больных с впервые в жизни установленным диагнозом злокачественного новообразования в России в 2011-2021 гг., %",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Локализация, нозологическая форма",Код МКБ 10,Годы,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2011,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
3,Все злокач. новообразования,С00-96,85.8,86.7,87.7,88.8,90.4,91.4,92.4,93.0,94.3,94.4,95.2
4,Губа,С00,97.7,98.5,98.3,98.2,98.5,98.8,98.6,99.2,99.1,99.0,99.4

,Показатели активного выявления злокачественных новообразований в России в 2011-2021 гг.,Таблица 11,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Показатели,Годы,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2011,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
2,"Доля больных с I-II стадией заболевания, выяв- ленных активно, от числа всех больных с I-II стадией заболевания, %",19.2,21.3,22.4,25.0,27.0,29.5,32.5,34.5,34.3,30.8,29.4
3,"Доля больных с I-II стадией заболевания, выяв- ленных активно, от общего числа больных, вы- явленных активно, %",67.2,73.1,69.9,74.2,74.0,77.5,76.2,77.9,78.7,77.9,77.8
4,"Доля больных с ЗНО визуальных локализаций от числа больных с впервые в жизни установ- ленным диагнозом, выявленных активно в I-II стадии заболевания, %",64.8,63.8,64.7,64.6,64.4,64.3,64.1,63.2,63.1,61.8,62.8

,Выявление рака шейки матки в стадии in situ в России в 2011-2021 гг.,Таблица 12,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Показатели,Годы,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2011,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
2,Абсолютное число ЗНО шейки матки (С53) (без выявленных посмертно),14617,14865.0,15236.0,15840.0,16439.0,16917.0,17303.0,17505.0,17221.0,15172.0,15010.0
3,Абсолютное число новообразований in situ\nшейки матки (D06),3144,3585.0,4248.0,4418.0,4637.0,4318.0,4435.0,4490.0,4964.0,4781.0,5159.0
4,на 100 ЗНО шейки матки (С53),21.3,24.1,27.9,27.9,28.2,25.5,25.6,25.3,28.4,31.5,34.4

,Таблица 13,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,"Удельный вес злокачественных новообразований, выявленных в I-II стадии, из числе впервые выявленных злокачественных новообразований в России в 2011-2021 гг., %",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Локализация, нозологическая форма",Код МКБ 10,Годы,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2011,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
3,Все злокач. новообразования,С00-96,49.7,50.5,50.8,52.0,53.7,54.7,55.6,56.4,57.4,56.3,57.9
4,Губа,С00,84,84.8,85.5,85.2,86.2,85.6,85.3,86.6,86.4,83.9,83.5

,"Удельный вес злокачественных новообразований, выявленных в III стадии, из числа впервые выявленных злокачественных новообразований в России в 2011-2021 гг., %",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Таблица 14,Unnamed: 11,Unnamed: 12
0,"Локализация, нозологическая форма",Код МКБ 10,Годы,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2011,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
2,Все злокач. новообразования,С00-96,21.8,21.5,21.2,20.6,20.1,19.1,18.8,18.2,17.6,17.8,17.2
3,Губа,С00,10.4,10.4,10.1,9.7,8.6,9.0,9.6,8.0,8.4,10.7,10.5
4,Полость рта,С01-09,34.6,33.6,33.2,32.4,31.0,30.4,29.9,28.4,28.4,27.0,27.0

,"Таблица 15\nУдельный вес злокачественных новообразований, выявленных в запущенной стадии (IV стадия), из числа впервые выявленных злокачественных новообразований в России в 2011-2021 гг., %",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,"Локализация, нозологическая форма",Код МКБ 10,Годы,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2011,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
2,Все злокач. новообразования,С00-96,21.3,21.2,21.1,20.7,20.4,20.5,20.2,20.3,19.8,21.2,20.5
3,Губа,С00,4.4,3.9,3.5,4.0,4.7,4.6,4.1,4.6,4.4,4.6,5.5
4,Полость рта,"С01-09,46.2",28.8,28.1,28.4,29.6,29.7,30.8,32.5,33.6,34.4,36.0,37.6

,"Таблица 16\nЛетальность больных в течение года с момента установления диагноза злокачественного новообразования (из числа больных, впервые взятых на учет в предыдущем году) в России в 2011-2021 гг., %",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,"Локализация, нозологическая форма",Код МКБ 10,Годы,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2011,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018,2019.0,2020.0,2021.0
2,Все злокачествен. новообразования,С00-96,27.4,26.1,25.3,24.8,23.6,23.3,22.5,"22,2",21.7,20.6,20.3
3,Губа,С00,4.2,5.2,4.9,4.5,4.5,5.0,4.7,4.1,4.3,4.7,3.5
4,Полость рта,С01-09,-,37.0,35.0,34.8,32.6,34.0,31.8,34.2,32.4,28.0,27.8

,Таблица 17,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Основные показатели состояния онкологической помощи детскому населению (0-14 лет) России в 2011-2021 гг.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Годы,Абсолют- ное число больных с впервые в жизни установ- ленным диагнозом,Из числа больных с впервые в жизни установленным диагнозом,NaN,NaN,NaN,NaN,NaN,"Леталь- ность на первом году с момента установ- ления диагноза,\n%","Ле- таль- ность,\n%",Находились под наблюдением на конец года,NaN,NaN,NaN,Индекс накоп- ления кон- тинген- тов
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,абс. число,на 100 тыс. детск. населе- ния,из них 5 лет и более,NaN,NaN
3,NaN,NaN,"выявле- но актив- но, %","диагноз подтвер- жден мор- фологи- чески, %","имели стадию заболевания, %",NaN,NaN,NaN,NaN,NaN,NaN,NaN,абс. число,%,NaN
4,NaN,NaN,NaN,NaN,I-II,III,IV,не ус- танов- лена,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,"Сведения о злокачественных новообразованиях, лечение которых не проводилось по причине отказа пациента и противопоказаний к проведению лечения в России в 2011-2021 гг. Таблица 55",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Показатели,Годы,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2011,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
2,"Доля злокачественных новообразований, лечение которых не проводилось по причине отказа пациента, от числа впервые выявленных злокачественных новообразований, %",2.9,2.6,2.4,2.2,2.2,2.0,1.8,1.8,1.6,1.5,1.4
3,"Доля злокачественных новообразований в I-II стадии из числа\nзлокачественных новообразований, радикальное лечение которых не проводилось по причине отказа пациента, %",40.9,42.2,44.3,46.0,42.1,46.8,50.3,48.5,53.0,49.3,51.3
4,"Доля злокачественных новообразований, лечение которых не проводилось по причине противопоказаний, от числа впервые выявленных злокачественного новообразований, %",8.8,9.3,8.6,7.4,7.1,6.7,6.8,6.9,6.4,6.0,6.1

,Таблица 56\nСведения о лечении детей (0-14 лет) со злокачественными новообразованиями в России в 2011-2021 г.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Годы,"Число больных, закончивших\nрадикальное лечение",NaN,Лечение проведено с использованием методов (из числа закончивших лечение):,NaN,NaN,NaN,NaN
1,NaN,абсолютное число,на 100 впервые взятых на учет,"только хирургического, %","только лучевого, %","только лекарственного, %","комбинированного или комплексного, %","химиолучевого, %"
2,2011,1325,50.3,23.2,1.3,37.6,32.9,5.1
3,2012,1283,47.8,25.1,0.3,40.6,29.1,4.9
4,2013,1316,46.4,24.5,0.5,41.3,29.3,4.4

В оригинальных таблицах использовались многоуровневые "шапки", что привело к некорректному виду. Некоторые названия показателей разбиты на несколько строк, присутствуют пустые значения, в названиях показателей присутствуют лишние символы. Кроме того, для удобства дальнейшего анализа ряд таблиц необходимо транспонировать.

**Таблицы №5-10, 13-16**

Таблицы №5, 6, 7, 8, 9, 10, 13, 14, 15, 16 идентичны по своей структуре и имеют единый алгоритм обработки

In [5]:
onko = [5, 6, 7, 8, 9, 10, 13, 14, 15, 16]
onko_tab = [df_5, df_6, df_7, df_8, df_9, df_10, df_13, df_14, df_15, df_16]

In [6]:
tab_result = []

In [7]:
# Цикл для обработки таблиц
for i in onko_tab:
    i.columns = ['Локализация, нозологическая форма', 'Код МКБ 10', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
    i = i.dropna().reset_index(drop=True)
    i['mkb_10+local'] = i['Код МКБ 10'] + ' ' + i['Локализация, нозологическая форма']
    i.drop(['Локализация, нозологическая форма', 'Код МКБ 10'], axis= 1 , inplace= True )
    i = i.set_index('mkb_10+local')
    i = i.T.reset_index()
    i = i.replace(regex={',': '.'})
    i = i.replace(regex={'-': 0})
    i.rename(columns = {'index':'year'}, inplace = True)
    i = pd.melt(i, id_vars=['year'], var_name='mkb_10+local', value_name='value')
    i['year'] = i['year'].astype('int')
    i['value'] = i['value'].astype('float')
    i['mkb_10'] = i['mkb_10+local'].apply(lambda x: x.split(" ", 1)[0])
    tab_result.append(i)

In [8]:
# Цикл для сохранения отредактированных таблиц

for n in range(len(onko)):   
    exec(f"df_{onko[n]} = tab_result[n]")

In [9]:
# Цикл для вывода результата обработки таблиц

for n in range(len(onko)):
    print()
    print(f'Таблица №{onko[n]}')
    display(tab_result[n].head())
    print()
    tab_result[n].info()

Таблица №5

   year                              mkb_10+local   value  mkb_10
0  2011  С00-96 Все злокачествен. новообразования  2029.0  С00-96
1  2012  С00-96 Все злокачествен. новообразования  2091.9  С00-96
2  2013  С00-96 Все злокачествен. новообразования  2159.4  С00-96
3  2014  С00-96 Все злокачествен. новообразования  2252.4  С00-96
4  2015  С00-96 Все злокачествен. новообразования  2325.2  С00-96

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          275 non-null    int64
 1   mkb_10+local  275 non-null    object
 2   value         275 non-null    float64
 3   mkb_10        275 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 8.7+ KB

Таблица №6

   year                              mkb_10+local  value  mkb_10
0  2011  С00-96 Все злокачествен. новообразования   51.3  С00-96
1  2012  С00-96 Все злокачествен. новообразования   51.1  С00-96
2  2013  С00-96 Все злокачествен. новообразования   51.7  С00-96
3  2014  С00-96 Все злокачествен. новообразования   52.4  С00-96
4  2015  С00-96 Все злокачествен. новообразования   52.9  С00-96

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          264 non-null    int64
 1   mkb_10+local  264 non-null    object
 2   value         264 non-null    float64
 3   mkb_10        264 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 8.4+ KB

Таблица №7

,year,mkb_10+local,value,mkb_10
0,2011,С00-96 Все злокачественные новообразования (за исключением кожи кроме меланомы),64.7,С00-96
1,2012,С00-96 Все злокачественные новообразования (за исключением кожи кроме меланомы),64.5,С00-96
2,2013,С00-96 Все злокачественные новообразования (за исключением кожи кроме меланомы),65.5,С00-96
3,2014,С00-96 Все злокачественные новообразования (за исключением кожи кроме меланомы),66.7,С00-96
4,2015,С00-96 Все злокачественные новообразования (за исключением кожи кроме меланомы),67.1,С00-96

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          209 non-null    int64
 1   mkb_10+local  209 non-null    object
 2   value         209 non-null    float64
 3   mkb_10        209 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.7+ KB

Таблица №8

   year                              mkb_10+local  value  mkb_10
0  2011  С00-96 Все злокачествен. новообразования    6.0  С00-96
1  2012  С00-96 Все злокачествен. новообразования    6.2  С00-96
2  2013  С00-96 Все злокачествен. новообразования    6.4  С00-96
3  2014  С00-96 Все злокачествен. новообразования    6.5  С00-96
4  2015  С00-96 Все злокачествен. новообразования    6.5  С00-96

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          264 non-null    int64
 1   mkb_10+local  264 non-null    object
 2   value         264 non-null    float64
 3   mkb_10        264 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 8.4+ KB

Таблица №9

   year                        mkb_10+local  value  mkb_10
0  2011  С00-96 Все злокач. новообразования   85.8  С00-96
1  2012  С00-96 Все злокач. новообразования   86.7  С00-96
2  2013  С00-96 Все злокач. новообразования   87.7  С00-96
3  2014  С00-96 Все злокач. новообразования   88.8  С00-96
4  2015  С00-96 Все злокач. новообразования   90.4  С00-96

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          275 non-null    int64
 1   mkb_10+local  275 non-null    object
 2   value         275 non-null    float64
 3   mkb_10        275 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 8.7+ KB

Таблица №10

   year                        mkb_10+local  value  mkb_10
0  2011  С00-96 Все злокач. новообразования   14.9  С00-96
1  2012  С00-96 Все злокач. новообразования   15.6  С00-96
2  2013  С00-96 Все злокач. новообразования   17.3  С00-96
3  2014  С00-96 Все злокач. новообразования   18.7  С00-96
4  2015  С00-96 Все злокач. новообразования   21.0  С00-96

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          275 non-null    int64
 1   mkb_10+local  275 non-null    object
 2   value         275 non-null    float64
 3   mkb_10        275 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 8.7+ KB

Таблица №13

   year                        mkb_10+local  value  mkb_10
0  2011  С00-96 Все злокач. новообразования   49.7  С00-96
1  2012  С00-96 Все злокач. новообразования   50.5  С00-96
2  2013  С00-96 Все злокач. новообразования   50.8  С00-96
3  2014  С00-96 Все злокач. новообразования   52.0  С00-96
4  2015  С00-96 Все злокач. новообразования   53.7  С00-96

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          253 non-null    int64
 1   mkb_10+local  253 non-null    object
 2   value         253 non-null    float64
 3   mkb_10        253 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 8.0+ KB

Таблица №14

   year                        mkb_10+local  value  mkb_10
0  2011  С00-96 Все злокач. новообразования   21.8  С00-96
1  2012  С00-96 Все злокач. новообразования   21.5  С00-96
2  2013  С00-96 Все злокач. новообразования   21.2  С00-96
3  2014  С00-96 Все злокач. новообразования   20.6  С00-96
4  2015  С00-96 Все злокач. новообразования   20.1  С00-96

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          264 non-null    int64
 1   mkb_10+local  264 non-null    object
 2   value         264 non-null    float64
 3   mkb_10        264 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 8.4+ KB

Таблица №15

   year                        mkb_10+local  value  mkb_10
0  2011  С00-96 Все злокач. новообразования   21.3  С00-96
1  2012  С00-96 Все злокач. новообразования   21.2  С00-96
2  2013  С00-96 Все злокач. новообразования   21.1  С00-96
3  2014  С00-96 Все злокач. новообразования   20.7  С00-96
4  2015  С00-96 Все злокач. новообразования   20.4  С00-96

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          308 non-null    int64
 1   mkb_10+local  308 non-null    object
 2   value         308 non-null    float64
 3   mkb_10        308 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 9.8+ KB

Таблица №16

   year                              mkb_10+local  value  mkb_10
0  2011  С00-96 Все злокачествен. новообразования   27.4  С00-96
1  2012  С00-96 Все злокачествен. новообразования   26.1  С00-96
2  2013  С00-96 Все злокачествен. новообразования   25.3  С00-96
3  2014  С00-96 Все злокачествен. новообразования   24.8  С00-96
4  2015  С00-96 Все злокачествен. новообразования   23.6  С00-96

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          275 non-null    int64
 1   mkb_10+local  275 non-null    object
 2   value         275 non-null    float64
 3   mkb_10        275 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 8.7+ KB

In [10]:
# Удалим строки с данными, несопоставимыми с другими таблицами
df_15 = df_15[~df_15['mkb_10+local'].str.contains('(III−IV ст.)')]

**Таблица №11**

In [11]:
df_11.columns = (
    ['Показатели', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'])
df_11 = df_11.dropna().reset_index(drop=True).set_index('Показатели')
df_11 = df_11.T
df_11.columns = df_11.columns.str.replace("- ", "")
df_11

Показатели,"Доля больных с I-II стадией заболевания, выявленных активно, от числа всех больных с I-II стадией заболевания, %","Доля больных с I-II стадией заболевания, выявленных активно, от общего числа больных, выявленных активно, %","Доля больных с ЗНО визуальных локализаций от числа больных с впервые в жизни установленным диагнозом, выявленных активно в I-II стадии заболевания, %"
2011,19.2,67.2,64.8
2012,21.3,73.1,63.8
2013,22.4,69.9,64.7
2014,25.0,74.2,64.6
2015,27.0,74.0,64.4
2016,29.5,77.5,64.3
2017,32.5,76.2,64.1
2018,34.5,77.9,63.2
2019,34.3,78.7,63.1
2020,30.8,77.9,61.8
2021,29.4,77.8,62.8

In [12]:
df_11.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 2011 to 2021
Data columns (total 3 columns):
 #   Column                                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                                 --------------  -----
 0   Доля больных с I-II стадией заболевания, выявленных активно, от числа всех больных с I-II стадией заболевания, %                                       11 non-null     object
 1   Доля больных с I-II стадией заболевания, выявленных активно, от общего числа больных, выявленных активно, %                                            11 non-null     object
 2   Доля больных с ЗНО визуальных локализаций от числа больных с впервые в жизни установленным диагнозом, выявленных активно в I-II стадии заболевания, %  11 non-null     object
dtypes: object(3)
memory usage: 352.0+ bytes

Числовые данные имеют неверный тип, необходимо привести к 'float'

In [13]:
for column in df_11.columns:
    df_11[column] = df_11[column].astype('float')
df_11.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 2011 to 2021
Data columns (total 3 columns):
 #   Column                                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                                 --------------  -----
 0   Доля больных с I-II стадией заболевания, выявленных активно, от числа всех больных с I-II стадией заболевания, %                                       11 non-null     float64
 1   Доля больных с I-II стадией заболевания, выявленных активно, от общего числа больных, выявленных активно, %                                            11 non-null     float64
 2   Доля больных с ЗНО визуальных локализаций от числа больных с впервые в жизни установленным диагнозом, выявленных активно в I-II стадии заболевания, %  11 non-null     float64
dtypes: float64(3)
memory usage: 352.0+ bytes

**Таблица №12**

In [14]:
df_12.columns = (
    ['Показатели', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
)
df_12 = df_12.dropna().reset_index(drop=True).set_index('Показатели')
df_12 = df_12.T
df_12.columns = df_12.columns.str.replace("\n", " ")
df_12

Показатели,Абсолютное число ЗНО шейки матки (С53) (без выявленных посмертно),Абсолютное число новообразований in situ шейки матки (D06),на 100 ЗНО шейки матки (С53)
2011,14617,3144,21.3
2012,14865.0,3585.0,24.1
2013,15236.0,4248.0,27.9
2014,15840.0,4418.0,27.9
2015,16439.0,4637.0,28.2
2016,16917.0,4318.0,25.5
2017,17303.0,4435.0,25.6
2018,17505.0,4490.0,25.3
2019,17221.0,4964.0,28.4
2020,15172.0,4781.0,31.5
2021,15010.0,5159.0,34.4

In [15]:
df_12.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 2011 to 2021
Data columns (total 3 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Абсолютное число ЗНО шейки матки (С53) (без выявленных посмертно)  11 non-null     object
 1   Абсолютное число новообразований in situ шейки матки (D06)         11 non-null     object
 2   на 100 ЗНО шейки матки (С53)                                       11 non-null     object
dtypes: object(3)
memory usage: 352.0+ bytes

Числовые данные имеют неверный тип, необходимо привести к 'float' и 'integer'

In [16]:
for column in df_12[['Абсолютное число ЗНО шейки матки (С53) (без выявленных посмертно)', 
                     'Абсолютное число новообразований in situ шейки матки (D06)']]:
    df_12[column] = df_12[column].astype('int')
df_12['на 100 ЗНО шейки матки (С53)'] = df_12['на 100 ЗНО шейки матки (С53)'].astype('float')

In [17]:
df_12.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 2011 to 2021
Data columns (total 3 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Абсолютное число ЗНО шейки матки (С53) (без выявленных посмертно)  11 non-null     int64
 1   Абсолютное число новообразований in situ шейки матки (D06)         11 non-null     int64
 2   на 100 ЗНО шейки матки (С53)                                       11 non-null     float64
dtypes: float64(1), int64(2)
memory usage: 352.0+ bytes

**Таблица №17**

Переименуем столбцы:  
`year` - Годы  
`first_abs` - Абсолютное число больных с впервые в жизни установленным диагнозом 
  
Из числа больных с впервые в жизни установленным диагнозом:  
  `first_act` - выявлено активно, %  
  `first_morf` - диагноз подтвержден морфологически, %  
    
  имели стадию заболевания, %:  
    `first_stad_1_2` - I-II  
    `first_stad_3` - III  
    `first_stad_4` - IV  
    `first_stad_na` - не установлена  
      
`let_first_year` - Летальность на первом году с момента установления диагноза, %  
`let` - Летальность, %  
  
Находились под наблюдением на конец года:  
  `nabl_abs` - абс. число  
  `nabl_100` - на 100 тыс. детск. населения  
    
   из них 5 лет и более:  
      `nabl_100_5_abs` - абс. число  
      `nabl_100_5_%` - %  
        
`ind_nakopl` - Индекс накопления контингентов

In [18]:
df_17.columns = (
    ['year', 'first_abs', 'first_act', 'first_morf', 'first_stad_1_2', 'first_stad_3', 'first_stad_4', 
     'first_stad_na', 'let_first_year', 'let', 'nabl_abs', 'nabl_100', 'nabl_100_5_abs', 'nabl_100_5_%', 
     'ind_nakopl']
)
df_17 = df_17.dropna().reset_index(drop=True)
df_17.loc[10,'nabl_100'] = 88.4
df_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            11 non-null     object
 1   first_abs       11 non-null     object
 2   first_act       11 non-null     object
 3   first_morf      11 non-null     object
 4   first_stad_1_2  11 non-null     object
 5   first_stad_3    11 non-null     object
 6   first_stad_4    11 non-null     object
 7   first_stad_na   11 non-null     object
 8   let_first_year  11 non-null     object
 9   let             11 non-null     object
 10  nabl_abs        11 non-null     object
 11  nabl_100        11 non-null     object
 12  nabl_100_5_abs  11 non-null     object
 13  nabl_100_5_%    11 non-null     object
 14  ind_nakopl      11 non-null     object
dtypes: object(15)
memory usage: 1.4+ KB

Числовые данные имеют неверный тип, необходимо привести к 'float' и 'integer'

In [19]:
for column in df_17.columns:
    df_17[column] = df_17[column].astype('float')

In [20]:
for column in df_17[['year', 'first_abs', 'nabl_abs', 'nabl_100_5_abs']]:
    df_17[column] = df_17[column].astype('int')

In [21]:
df_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            11 non-null     int64
 1   first_abs       11 non-null     int64
 2   first_act       11 non-null     float64
 3   first_morf      11 non-null     float64
 4   first_stad_1_2  11 non-null     float64
 5   first_stad_3    11 non-null     float64
 6   first_stad_4    11 non-null     float64
 7   first_stad_na   11 non-null     float64
 8   let_first_year  11 non-null     float64
 9   let             11 non-null     float64
 10  nabl_abs        11 non-null     int64
 11  nabl_100        11 non-null     float64
 12  nabl_100_5_abs  11 non-null     int64
 13  nabl_100_5_%    11 non-null     float64
 14  ind_nakopl      11 non-null     float64
dtypes: float64(11), int64(4)
memory usage: 1.4 KB

In [22]:
df_17

,year,first_abs,first_act,first_morf,first_stad_1_2,first_stad_3,first_stad_4,first_stad_na,let_first_year,let,nabl_abs,nabl_100,nabl_100_5_abs,nabl_100_5_%,ind_nakopl
0,2011,2621,3.7,92.4,27.0,11.8,8.1,43.0,11.2,4.2,14083,64.0,5054,35.9,5.4
1,2012,2682,3.0,93.2,22.9,11.4,9.0,56.7,10.8,3.9,14858,66.0,5400,36.3,5.5
2,2013,2819,5.4,89.6,23.1,10.5,9.3,57.1,12.2,3.8,15360,66.5,5536,36.0,5.5
3,2014,3003,4.5,89.6,22.9,10.4,8.6,58.2,9.5,3.4,16540,68.7,6143,37.1,5.5
4,2015,3102,4.9,92.6,21.1,9.0,8.6,61.3,9.3,3.4,17515,70.9,6648,38.0,5.6
5,2016,3220,5.0,93.4,22.7,9.7,9.7,58.0,8.8,3.0,19136,75.7,7532,39.4,5.9
6,2017,3279,5.2,95.5,23.5,9.7,8.5,58.3,9.3,2.7,20370,79.3,8488,41.7,6.2
7,2018,3214,5.6,95.1,23.9,8.1,9.0,59.1,8.4,2.6,21248,82.1,8751,41.2,6.6
8,2019,3115,4.0,95.5,23.7,9.6,9.1,57.6,7.6,2.3,21855,84.4,9373,42.9,7.0
9,2020,3110,5.9,95.2,21.4,6.8,9.6,62.2,7.7,2.5,22566,87.1,9893,43.8,7.3
10,2021,2928,5.8,95.8,25.0,7.4,8.9,58.7,7.0,2.2,22905,88.4,10464,45.7,7.8

**Таблица №55**

In [23]:
df_55.columns = (
    ['Показатели', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
)
df_55 = df_55.dropna().reset_index(drop=True)
df_55['Показатели'] = df_55['Показатели'].str.replace("\n", " ")
df_55 = df_55.T
df_55.columns = df_55.iloc[0]
df_55 = df_55.drop(df_55.index[0])
for column in df_55.columns:
    df_55[column] = df_55[column].astype('float')
df_55.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 2011 to 2021
Data columns (total 4 columns):
 #   Column                                                                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                                                                  --------------  -----
 0   Доля злокачественных новообразований, лечение которых не проводилось по причине отказа пациента, от числа впервые выявленных злокачественных новообразований, %         11 non-null     float64
 1   Доля злокачественных новообразований в I-II стадии  из числа злокачественных новообразований, радикальное лечение которых не проводилось по причине отказа пациента, %  11 non-null     float64
 2   Доля злокачественных новообразований, лечение которых не проводилось по причине противопоказаний, от числа  впервые выявленных злокачественного новообразований, %      11 non-null     float64
 3   Доля злокачественных новообразований в I-II стадии из числа злокачественных новообразований, радикальное лечение которых не проводилось по причине противопоказаний, %  11 non-null     float64
dtypes: float64(4)
memory usage: 440.0+ bytes

Все данные имеют нужный тип данных, изменения не требуются

In [24]:
df_55

Показатели,"Доля злокачественных новообразований, лечение которых не проводилось по причине отказа пациента, от числа впервые выявленных злокачественных новообразований, %","Доля злокачественных новообразований в I-II стадии из числа злокачественных новообразований, радикальное лечение которых не проводилось по причине отказа пациента, %","Доля злокачественных новообразований, лечение которых не проводилось по причине противопоказаний, от числа впервые выявленных злокачественного новообразований, %","Доля злокачественных новообразований в I-II стадии из числа злокачественных новообразований, радикальное лечение которых не проводилось по причине противопоказаний, %"
2011,2.9,40.9,8.8,31.9
2012,2.6,42.2,9.3,30.3
2013,2.4,44.3,8.6,30.6
2014,2.2,46.0,7.4,34.3
2015,2.2,42.1,7.1,34.0
2016,2.0,46.8,6.7,35.9
2017,1.8,50.3,6.8,36.3
2018,1.8,48.5,6.9,38.8
2019,1.6,53.0,6.4,43.0
2020,1.5,49.3,6.0,43.3
2021,1.4,51.3,6.1,44.5

**Таблица №56**

In [25]:
df_56.columns = (
    ['year', 'end_abs', 'end_100', 'end_lec_xir', 'end_lec_luch', 'end_lec_lec', 'end_lec_combi', 'end_lec_xim']
)
df_56 = df_56.dropna().reset_index(drop=True)
df_56.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           11 non-null     object
 1   end_abs        11 non-null     object
 2   end_100        11 non-null     object
 3   end_lec_xir    11 non-null     object
 4   end_lec_luch   11 non-null     object
 5   end_lec_lec    11 non-null     object
 6   end_lec_combi  11 non-null     object
 7   end_lec_xim    11 non-null     object
dtypes: object(8)
memory usage: 836.0+ bytes

Числовые данные имеют неверный тип, необходимо привести к 'float' и 'integer'

In [26]:
for column in df_56.columns:
    df_56[column] = df_56[column].astype('float')
df_56['year'] = df_56['year'].astype('int')

In [27]:
df_56.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           11 non-null     int64
 1   end_abs        11 non-null     float64
 2   end_100        11 non-null     float64
 3   end_lec_xir    11 non-null     float64
 4   end_lec_luch   11 non-null     float64
 5   end_lec_lec    11 non-null     float64
 6   end_lec_combi  11 non-null     float64
 7   end_lec_xim    11 non-null     float64
dtypes: float64(7), int64(1)
memory usage: 836.0 bytes

In [28]:
df_56

,year,end_abs,end_100,end_lec_xir,end_lec_luch,end_lec_lec,end_lec_combi,end_lec_xim
0,2011,1325.0,50.3,23.2,1.3,37.6,32.9,5.1
1,2012,1283.0,47.8,25.1,0.3,40.6,29.1,4.9
2,2013,1316.0,46.4,24.5,0.5,41.3,29.3,4.4
3,2014,1343.0,44.5,24.7,1.5,39.0,30.5,4.3
4,2015,1410.0,45.1,27.1,0.6,42.6,27.2,2.5
5,2016,1402.0,43.3,24.8,0.6,42.4,28.9,3.2
6,2017,1434.0,43.5,25.7,0.3,44.1,27.5,2.3
7,2018,1304.0,40.3,24.5,1.0,40.6,31.1,2.8
8,2019,1255.0,40.2,31.3,1.0,38.4,26.6,2.6
9,2020,1220.0,39.2,27.8,1.2,42.1,26.6,2.4
10,2021,1214.0,41.5,29.0,1.1,39.6,27.9,2.4

In [29]:
# Цикл для сохранения таблиц в файлы
for n in range(len(number)):   
    exec(f"df_{number[n]}.to_csv('...{number[n]}.csv')")

## Вывод  
Была проведена предобработка статистических таблиц, имеющих формат, сложный для проведения вычислений и анализа данных. В результате были получены таблицы, готовые для построения визуализаций в Yandex DataLens (**[Ссылка на дашборд](https://datalens.yandex/q3zkxrnhx97ef)**).